<untuk afiq sayang>
<dari zeti sayang>
<head>
   <title> Zetira's✨💗 </title>
   <script type="text/javascript">
   alert("hi sayang!")
   alert("sayang kita rindu sayang")
   alert("kita buat coding sikit untuk sayang")
   alert("hehe kita tak sangka pulak jadi hehehe")
   </script>
   <style>
body{
   background-image:url(https://c.tenor.com/i1rsgMyOFgcAAAAd/cat-cat-love.gif);
   background-size: cover;
   background-attachment: fixed;
}
.content{
    background: https://c.tenor.com/i1rsgMyOFgcAAAAd/cat-cat-love.gif;
    width: 50%;
    padding: 40px;
    margin: 100px auto;
    }
</style>
   <img src="https://c.tenor.com/3RkBSAwE4xgAAAAj/quby-pentol.gif"/>
   <p style="color: white"> sayang</p>
   
   <img src="https://c.tenor.com/ux7RPst0v1MAAAAj/quby-pentol.gif"/>
   <p style="color: white"> kita taknak sayang sedih sedih okie</p>
   
   <img src="https://c.tenor.com/Fm3_oNnjUjYAAAAj/line.gif">
   <p style="color: white""> sayang, kita selalu ada dengan sayang okie</p>
   
   <img src="https://c.tenor.com/1UoL-HJFGDAAAAAj/pentol-stiker-pentol.gif">
   <p style="color: white""> sayang jangan risau okie</p>
   
   <img src="https://c.tenor.com/1bN1lZmbwWcAAAAj/line.gif">
   <p style="color: white""> kita takkan tinggalkan sayang</p>
   
   <img src="https://c.tenor.com/mJ7Tkj3KIn0AAAAj/peach-and.gif">
   <p style="color: white""> sayang jangan risau akie</p>
   
   <img src="https://c.tenor.com/CdliypdvLTEAAAAj/quby-pentol.gif">
   <p style ="color: white""> kita nak sayang jaga diri,jaga kesihatan</p>
   
   <img src="https://c.tenor.com/tsniEXs1tFkAAAAj/fbcuteboy.gif">
   <p style ="color: white""> tu yang paling penting okie sayang kita</p>
   
   <img src="https://c.tenor.com/LxggFGxwOjIAAAAj/shy-cat.gif">
   <h1 style="font-family:Times New Roman">i love you sayang, i miss you sayang, muah sayang</h1>
   
   </body>
   </html
